{
  "presets": [
    "es2015",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "ie >=9"
          ]
        },
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "muse-ui",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      }
    ],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}