.im-content {
  /*捷信的样式*/
  .im-text {
    width: 100px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    overflow: hidden;
    line-height: 30px;
    background: #2f6bcf;
    z-index: 999;
    border-radius: 4px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    cursor: pointer;
    span {
      color: #fff;
      font-size: 14px;
    }
    i {
      color: #fff;
      font-size: 14px;
    }
  }
  // 点击捷信的弹窗样式
  .im-dialog{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    min-width: 880px;
    height: calc(90%);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background: #fff;
    border-radius: 3px;
    display: flex;
    @include window-border("all");
    .right-view {
      height: 100%;
      z-index: 1001;
      position: absolute;
      right:0;
      left:265px;
      top:0;bottom:0;
      background: #fafafa;
      @include window-border("right");
      .jeicon {
        cursor: pointer;
      }
      .jeicon-error {
        font-size: 14px;
        color: $icon-color;
        position: absolute;
        right: 15px;
        top: 16px;
        cursor: pointer;
        z-index: 1001;
      }
      .list-no-outer {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
  .full-min {
  animation: fullScreenS 0.2s linear;
  -webkit-animation: fullScreenS 0.2s linear;
}
  // 点击全屏样式重置
  .full-max {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: calc(100%);
    animation: fullScreenL 0.1s linear;
    -webkit-animation: fullScreenB 0.1s linear;
  }
  @keyframes fullScreenB {
    from {
      width: 880px;
      bottom: 20px;
      right: 20px;
      height: calc(75%);
    }
    to {
      bottom: 0;
      right: 0;
      width: 100%;
      height: calc(100%);
    }
  }
  @keyframes fullScreenS {
    from {
      bottom: 0;
      right: 0;
      width: 100%;
      height: calc(100%);
    }
    to {
      width: 880px;
      bottom: 20px;
      right: 20px;
      height: calc(75%);
    }
  }
}
.left-view{
  position: relative;
  width: 265px;
}